{% extends 'base.html' %}
{% block content %}

<section class="about-us-section">
    
    <!--Container for the content in the about section-->
    <div class="about-us-container">
        
        <!--Heading-->
        <h3 class="about-us-title">About Us</h3>
        
        <!--Content paragraphs-->
        <p class="about-us-paragraph">Welcome to theRecipeStore. Whether you're looking for great new ideas for evening meals, cakes, or maybe a healthy snack during the day, this site is for you. Impress your friends at dinner parties with your new found recipes. Search and find the recipes by meal type or allergen.</p>
        <p class="about-us-paragraph">Are you a fan of a particular recipe. Be sure to give it the thumbs up. The most popular can be searched, or you can find the most recently uploaded.</p>
        <p class="about-us-paragraph">Have you created some of your own recipes you would like to share? Be sure to sign up and start adding them. Find out how popular your recipes are with others!</p>
        
        <!--Content paragraphs including links to the contact and signup pages-->
        <p class="about-us-paragraph">If there is any more information you would like to know about our site, leave us a message on our <a href="{{ url_for('contact') }}">contact</a> page, and we do our best to respond. If you are convinced you would like to become a member then be sure to <a href="{{ url_for('signup') }}">sign up</a> and start uploading your recipes now!</p>
    </div>
    
</section>

{% endblock %}