{% extends 'base.html' %}
{% block content %}

<section class="userhome-intro">
    <div class="userhome-intro-container">
        
        <div class="userhome-intro-text">
            <h2 class="userhome-intro-title">Personal Page for {{ current_user.username }}</h2>
            
            <!--Presenting the flashed message to the user when they've filled in the sign up form-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <!--HTML presentation of the message-->
            <p class="userhome-details-paragraph">{{ message }}</p>
            <p class="userhome-details-paragraph">From this page you'll be able to add recipes, or update your existing recipes.</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
            <!--List of user details-->
            <div class="userhome-details">
                <div class="account-details-text">
                    <p class="userhome-details-paragraph">Below is a list of your details you have submitted to theRecipeStore. Click edit on the options if you want to change any of them.</p>
                </div>
                
                <!--This table will display to the user what they inputted into the sign up form. Edit buttons will redirect to a page which will allow them to change any of the details-->
                <!--Form-->
                <!--Section that contains the form-->
                <div class="signup-form-container">
                    
                    <!--Form-->
                    <form method="POST" class="signup-form" action="">
                        <!--Textboxes for the user to fill in their firstname, lastname and username-->
                        <!--hidden tag to contain the csrf token-->
                        {{ form.hidden_tag() }}
                        
                        <fieldset class="signup-form-fieldset">
                            
                            <div class="form-group">
                                {{ form.firstname.label(class="signup-textbox-label") }}
                                {{ form.firstname(class="signup-textbox", placeholder="Type Firstname") }}
                            </div>
                            
                            <div class="form-group">
                                {{ form.lastname.label(class="signup-textbox-label") }}
                                {{ form.lastname(class="signup-textbox", placeholder="Type Lastname") }}
                            </div>
                            
                            {% if form.username.errors %}
                                <div class="form-group-errors">
                                    <div class="form-group">
                                        {{ form.username.label(class="signup-textbox-label") }}
                                        {{ form.username(class="signup-textbox", placeholder="Type Username") }}
                                    </div>
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span class="signup-error-message">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ form.username.label(class="signup-textbox-label") }}
                                    {{ form.username(class="signup-textbox", placeholder="Type Username") }}
                                </div>
                            {% endif %}
                            
                            {% if form.email.errors %}
                                <div class="form-group-errors">
                                    <div class="form-group">
                                        {{ form.email.label(class="signup-textbox-label") }}
                                        {{ form.email(class="signup-textbox", placeholder="Type Email Address") }}
                                    </div>
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span class="signup-error-message">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ form.email.label(class="signup-textbox-label") }}
                                    {{ form.email(class="signup-textbox", placeholder="Type Email Address") }}
                                </div>
                            {% endif %}
                            
                        </fieldset>
                        {{ form.submit(class="signup-button") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Post it notes section to display popular and recents-->
<section class="post-it-notes-section">
    <!--Container for the post it notes-->
    <div class="post-it-notes-section-container" id="most-popular-post-it-notes">
        <div class="most-popular-intro">
            <div class="post-it-notes-intro">
                <!--Introduction to the section where the user can choose from menus for their specific meal type choice-->
                <h2 class="post-it-notes-intro-heading">My Recipes</h2>
                <p class="most-popular-intro-paragraph">Below are therecipes you have created. If you would like to create a new recipe, click the button below. Click on your recipes if you would like to edit and update them.</p>
            </div>
        </div>
        <div class="userhome-create-recipe">
            <div class="userhome-create-recipe-button"><a href="{{ url_for('create_recipe') }}">Create new recipe</a></div>
        </div>
    </div>
</section>
{% endblock %}