/*Font style imports*/

/*Colours to use in site*/
/*
brown - 73S041
Light/beige - FFD5C3
brown/beige - C09380
dark blue/green - 36736B
light blue - 80C0B8
*/

/*Kalam to be used for recipe book instructions*/
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

/*Roboto to be used for titles, navbarand all other non recipe areas of the site*/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

/*Site overall styles*/

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}



/*---------Navbar----------*/
.navbar {
    position: sticky;
    top: 0;
	width: 100%;
    background-image: linear-gradient(#193632, #36736B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.7);
}

.navbar-container {
    margin: 0 10px;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.navbar-logo-label {
	height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo a {
	display: flex;
	align-items: center;
	font-family: "Kalam", cursive;
	font-size: 1.6em;
	font-weight: 700;
	color: #FFFFFF;
	text-decoration: none;
	transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-shadow: 2px 2px 5px #000000;
}

.navbar-logo a:hover {
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #80C0B8;
}

/*Navbar burger icon*/
.navbar-dropdown {
    width: 50px;
	font-size: 1.8em;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.line {
    position: absolute;
    height: 3.5px;
    width: 25px;
    background-color: #FFFFFF;
    border-radius: 1.75px;
    transition: all ease-in-out 0.2s;
}

.line1 {
    top: 22px;
}

.line2 {
    top: 30px;   
}

.line3 {
    top: 38px;
}

/*Controlling the cross effect when the burger menu is selected in mobile views*/
.navbar-dropdown.close .line1{
    transform: rotate(45deg);
    top: 30px;
}

.navbar-dropdown.close .line2,
.navbar-dropdown.close .line3 {
    transform: rotate(-45deg);
    top: 30px;
}

/*Navbar dropdown links*/
.navbar-links {
	display: none;
    margin-top: 10px;
}

.navbar-links div a {
	height: inherit;
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 1.4em;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-shadow: 1px 1px 10px #333333;
}

.navbar-links .navbar-link a:hover {
    transition-property: color;
    color: #80C0B8;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.navbar-links.active {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-content-button {
    cursor: pointer;
}

/*Navbar dropdown appearance*/

.dropdown-content {
    display: flex;
    min-width: 150px;
    z-index: 1;
    padding: 0 10px;
}

/*Controlling the dropdown content*/

.dropdown-content .dropdown-content-link {
	font-family: "Roboto", sans-serif;
    line-height: 1.4em;
	font-size: 1em;
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	margin-left: 10px;
}

.dropdown-content .dropdown-content-link:hover {
	color: #80C0B8;
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

/*Login and sign up buttons*/

.navbar-link-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}

.sign-up-login-button {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 10px;
    font-family: "Kalam", cursive;
    font-size: 1.1em;
    font-weight: 700;
}

#sign-up {
    background-color: #C09380;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    color: #FAFAFA;
}

#sign-up:hover {
    background-color: #614437;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

#login {
    background-color: #80C0B8;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

#login:hover {
    background-color: #4E7570;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.sign-up-login-button a {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

/*Search for section active and non active states for navbar-contents.js*/
#search-link-dropdown {
    display: none;
}

#search-link-dropdown.active {
    display: flex;
}

/*Meal Type section active and non active states for navbar-contents.js*/
#meal-type-dropdown {
    display: none;
}

#meal-type-dropdown.active {
    display: flex;
}

/*Allergens section active and non active states for navbar-contents.js*/
#allergens-dropdown {
    display: none;
}

#allergens-dropdown.active {
    display: flex;
}

/*Social media links*/

.dropdown-content .social-link {
    margin: 10px;
}

/*contact and Conditions/About/ horizontal line appearing in mobile view*/

/*Social links in mobile view*/
#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 20px 0 30px 0;
}

.navbar-link div a i {
    font-size: 1.7em;
}

/*Horizontal line that appears in mobile views*/
.horizontal-rule-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.navbar-contents-seperate {
    width: 50%;
    height: 1px;
    background-color: #FFFFFF;
    border: 0;
}

/*Links to contact and about page*/
.contact-about-navbar {
    margin: 15px 0;
}

.contact-about-navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-about-navbar div a,
.contact-about-navbar div span {
    margin: 2px 5px;
    color: #FFFFFF;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    line-height: 1.5em;
}

.contact-about-navbar div a:hover {
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #80C0B8;
}
/*----------End of Navbar in mobile views----------*/







/*----------Social link bar----------*/
.icon-bar-desktop-views {
    top: 40%;
    position: fixed;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar-desktop-views a {
    display: none;
    text-align: center;
    transition-timing-function: ease-in-out;
    padding: 10px 12px;
    transition-duration: 0.1s;
    color: white;
    font-size: 25px;
}

.icon-bar-facebook {
    background-color: #3B5998;
    color: #FFFFFF;
    width: 30px;
}

.icon-bar-facebook:hover,
.icon-bar-twitter:hover,
.icon-bar-instagram:hover,
.icon-bar-linkedin:hover,
.icon-bar-pinterest:hover,
.icon-bar-youtube:hover {
    padding-left: 30px;
}

.icon-bar-twitter {
    background-color: #55ACEE;
    color: #FFFFFF;
    width: 30px;
}

.icon-bar-instagram {
    background-image: linear-gradient(to top right, #F77D2E, #D12F82, #903AC4);
    color: #FFFFFF;
    width: 30px;
}

.icon-bar-linkedin {
    background-color: #007bb5;
    color: #FFFFFF;
    width: 30px;
}

.icon-bar-pinterest {
    background-color: #E60023;
    color: #FFFFFF;
    width: 30px;
}

.icon-bar-youtube {
    background-color: #bb0000;
    color: #FFFFFF;
    width: 30px;
}


/*----------End of Social link bar----------*/






/*----------Footer*-----------*/
.footer {
	width: 100%;
    height: auto;
    background-image: linear-gradient(#193632, #36736B);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    margin: 0 10px;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/*Social links at the top of the footer*/
.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-top: 20px;
}

.social-links {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social {
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a i {
    font-size: 1.8em;
    display: flex;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #FFFFFF;
}

.social-links li a i:hover {
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #80C0B8;
}

/*Footer top section links*/
.footer-top-primary-links {
    margin: 20px 0;
}

.footer-section {
    margin: 20px 0 40px 0;
}

.footer-list-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.footer-list {
    display: block;
    padding: 0 5px;
    list-style-type: none;
    margin: 10px 0;
}

.footer-list-item {
    line-height: 1.6em;
}

.footer-list-item a {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    text-shadow: 1px 1px 10px #333333;
}

.footer-list-item a:hover {
    transition-property: color;
    color: #80C0B8;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

/* Links to the contact and about pages */
.footer-contact-about {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-contact-about-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.footer-contact-about-links-divider {
    display: none;
}

.footer-contact-about-links span a {
    font-family: "Roboto", serif;
    font-size: .7em;
    color: #FFFFFF;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.footer-contact-about-links span a:hover {
    font-size: .7em;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #80C0B8;
}

/*Horizontal line that seperates the main links from the about and contact links*/
.horizontal-rule-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer-contents-separate {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

/* Footer copyright statement */
.footer-statement {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statement {
    font-family: "Roboto", serif;
    font-size: .7em;
    color: #FFFFFF;
    text-align: left;
    width: 100%;
    margin: 0;
}

.footer-contact-about-links {
    flex-direction: row;
    justify-content: flex-end;
}

.footer-contact-about-links-divider {
    display: block;
}

.footer-contact-about-links-span {
    margin: 0 5px;
}

/*----------End of Footer in mobile view----------*/







/*----------Home -----------*/

/*Image slideshow at the top of the home page*/
.header-images {
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.slideshow-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/completed-dish.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite;
}

@keyframes slide {
    25% {
        background-image: url("../images/pasta-veg-on-table.jpg");
    }
    50% {
        background-image: url("../images/recipe-book.jpg");
    }
    75% {
        background-image: url("../images/spoon-meal-on-table.jpg");
    }
    100% {
        background-image: url("../images/completed-dish.jpg");
    }
}

/*The following styles are also used within */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.image-text {
    width: 80%;
    max-width: 600px;
}

.image-text-header {
    font-size: 3em;
    font-family: "Kalam", cursive;
    line-height: 1.3em;
    color: #FAFAFA;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000000;
}

.image-text-paragraph {
    font-family: "Roboto", sans-serif;
    line-height: 1.7em;
    color: #FAFAFA;
    font-size: 1.1em;
    font-weight: 200;
    text-shadow: 2px 2px 5px #000000;
}

/*End of the home page image scroll styles*/







/*----------Meal type home page grid----------*/
.meal-type-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

.meal-type-section-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#meal-type-homepage-section {
    display: flex;
}

#meal-type-homepage-section.active {
    display: none;
}

#preference-homepage-section {
    display: none;
}

#preference-homepage-section.active {
    display: flex;
}

#allergen-homepage-section {
    display: none;
}

#allergen-homepage-section.active {
    display: flex;
}

.meal-type-intro {
    margin-bottom: 30px;
}

.meal-type-intro-heading,
.post-it-notes-intro-heading {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 2em;
}

.meal-type-intro-heading {
    color: #36736B;
}

.meal-type-intro-paragraph {
    margin: 10px 0 10px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
}

.meal-type-intro-paragraph {
    color: #333333;
}

.meal-type-grid-container {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
}

.meal-type-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    overflow: hidden;
}

#light-bites-home {
    background-image: url("../images/sandwich.jpg");
}

#snacks-home {
    background-image: url("../images/snack.jpg");
}

#main-meals-home {
    background-image: url("../images/dinner.jpg");
}

#desserts-home {
    background-image: url("../images/cake.jpg");
}

#vegetarian-home {
    background-image: url("../images/vegetarian.jpg");
}

#vegan-home {
    background-image: url("../images/olive-oil-veg.jpg");
}

#pescatarian-home {
    background-image: url("../images/pescatarian.jpg");
}

#raw-vegetarian-home {
    background-image: url("../images/raw-veg.jpg");
}

#nut-free-home {
    background-image: url("../images/nut-free.jpg");
}

#lactose-free-home {
    background-image: url("../images/lactose-free.jpg");
}

#gluten-free-home {
    background-image: url("../images/gluten-free.jpg");
}

.meal-type-description-area {
    background-image: linear-gradient(#193632, #36736B);
    opacity: 0.9;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.meal-type-image:hover .meal-type-description-area {
    transition-property: height, opacity;
    height: 100%;
    opacity: 1;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
} 

.meal-type-heading {
    font-family: "Kalam", cursive;
    font-size: 1.4em;
    font-weight: 200;
    color: #FAFAFA;
    margin: 10px;
    text-shadow: 2px 2px 5px #000000;
}

.meal-type-paragraph {
    display: none;
    font-family: "Roboto", sans-serif;
    width: 80%;
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px 0;
    color: #FAFAFA;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

.meal-type-click-here-button {
    text-decoration: underline;
    color: #193632;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.meal-type-click-here-button:hover {
    transition-property: color;
    color: #80C0B8;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.meal-type-button-shadow {
    text-shadow: 2px 2px 10px #000000;
}

.meal-type-image:hover .meal-type-description-area .meal-type-paragraph {
    transition-property: opacity;
    display: flex;
    opacity: 1;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.meal-type-image .meal-type-description-area a {
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    background-color: #80C0B8;
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #FAFAFA;
    border-radius: 10px;
    text-transform: uppercase;
}

.meal-type-image:hover .meal-type-description-area a {
    display: flex;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.meal-type-image .meal-type-description-area a:hover {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: #4E7570; 
    cursor: pointer;
}
/*----------End of meal type grid----------*/







/*----------Post it note section on the home page. Some of these are also used within the pages when the user selects their preferences, i.e. meal type----------*/
.post-it-notes-section {
    background-image: linear-gradient(to bottom right, #828784, #CBD4CE, #CBD4CE);
}

.post-it-notes-intro { 
    width: 100%;   
}

.post-it-notes-intro-heading {
    color: #FAFAFA;
    text-shadow: 2px 2px 5px #333333;
}

.post-it-notes-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.post-it-notes-intro-paragraph {
    color: #FAFAFA;
    font-size: 1em;
    line-height: 1.6em;
    text-shadow: 2px 2px 5px #000000;
    text-align: center;
    margin-bottom: 40px;
}

.popular-recent-button {
    text-decoration: underline;
}

#most-popular-button,
#most-recent-button {
    color: #FAFAFA;
}

#most-popular-button:hover,
#most-recent-button:hover {
    transition-property: color;
    color: #193632;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#most-popular-post-it-notes {
    display: flex;
}

#most-popular-post-it-notes.active {
    display: none;
}

#most-recent-post-it-notes {
    display: none;
}

#most-recent-post-it-notes.active {
    display: flex;
}

.post-it-notes-section-container {
    max-width: 700px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.most-popular-intro-paragraph,
.most-recent-intro-paragraph {
    text-align: center;
    color: #FAFAFA;
    font-size: 1em;
    line-height: 1.5em;
    text-shadow: 2px 2px 5px #000000;
    margin-bottom: 20px;
}

.post-it-notes {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.post-it-note {
    height: 280px;
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    background-color: #D2DBF5;
    padding: 10px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.post-it-notes .post-it-note a {
    text-decoration: none;
    color: #333333;
    height: inherit;
    width: inherit;
}

.post-it-note:nth-child(2n) {
    transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position:relative;
    top: 5px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: #B6F5B4;
}

.post-it-note:nth-child(4n) {
    transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    position:relative;
    top: 5px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: #F5EBC3;
}

.post-it-note:nth-child(5n) {
    transform: rotate(4deg);
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: #F5CDBF;
}

.post-it-note:nth-child(7n) {
    transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    position: relative;
    top: -10px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: #EDCCF6;
}

.post-it-note:hover, .post-it-note:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    position:relative;
    z-index:5;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.post-it-notes .post-it-note a:hover {
    cursor: pointer;
}

.post-it-notes .post-it-note a h2,
.post-it-notes .post-it-note a p {
    font-family: "Kalam", cursive;
}

.post-it-notes .post-it-note a h2 {
    font-size: 1.4em;
    font-weight: 700;
}

.post-it-notes .post-it-note a p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
}

.post-it-notes .post-it-note {
    margin: 15px;
}
/*----------End of the Post it note sectione----------*/







/*----------Individual meal type pages----------*/

.background-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
    
#light-bites {
    background-image: url("../images/sandwich-dark.jpg");
}

#snacks {
    background-image: url("../images/snack-dark.jpg");
}

#main-meals {
    background-image: url("../images/dinner-dark.jpg");
}

#desserts {
    background-image: url("../images/cake-dark.jpg");
}

#vegetarian {
    background-image: url("../images/vegetarian-dark.jpg");
}

#pescatarian {
    background-image: url("../images/pescatarian-dark.jpg");
}

#vegan {
    background-image: url("../images/olive-oil-veg-dark.jpg");
}

#raw-vegetarian {
    background-image: url("../images/raw-veg-dark.jpg");
}

#lactose-free {
    background-image: url("../images/lactose-free-dark.jpg");
}

#gluten-free {
    background-image: url("../images/gluten-free-dark.jpg");
}

#nut-free {
    background-image: url("../images/nut-free-dark.jpg");
}
/*----------End of the styles for the individual meal type pages----------*/







/*----------Login and sign up pages-----------*/
.login-form-section,
.signup-form-section,
.contact-form-section {
    min-height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container,
.signup-form-container,
.contact-form-container,
.about-us-container {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}

/*Log in form*/
.login-title,
.signup-title,
.contact-title {
    font-family: "Kalam", cursive;
    text-align: center;
    font-size: 1.8em;
    color: #36736B;
    margin: 20px;
}

.about-us-title {
    font-family: "Kalam", cursive;
    text-align: left;
    font-size: 1.8em;
    color: #36736B;
    margin: 20px 0;
}

.about-us-paragraph {
    margin: 20px 0;
    font-size: 1em;
}

.about-us-paragraph a,
.contact-form-message a {
    text-decoration: underline;
    color: #193632;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.about-us-paragraph a:hover,
.contact-form-message a:hover {
    transition-property: color;
    color: #80C0B8;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.login-form,
.signup-form,
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-textbox-username,
#login-textbox-password,
#signup-textbox-firstname,
#signup-textbox-lastname,
#signup-textbox-username,
#signup-textbox-password,
#firstname,
#lastname,
#email {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 10px;
    border: solid 1px #80C0B8;
    padding-left: 10px;
    margin-top: 10px;
}

.login-button,
.signup-button,
.contact-button {
    margin: 20px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    color: #FAFAFA;
    font-family: "Roboto", cursive;
    font-size: 1.7em;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.login-button,
.contact-button {
    background-color: #80C0B8;
}

.signup-button {
    background-color: #C09380;
}

.login-button:hover,
.contact-button:hover {
    transition-property: background-color;
    cursor: pointer;
    background-color: #4E7570;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.signup-button:hover {
    transition-property: background-color;
    cursor: pointer;
    background-color: #614437;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.login-form-message,
.signup-form-message {
    text-align: center;
    font-size: 0.9em;
    margin: 20px;
}

.login-form-message a,
.signup-form-message a{
    text-decoration: underline;
    color: #193632;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.login-form-message a:hover,
.signup-form-message a:hover {
    transition-property: color;
    color: #80C0B8;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.contact-form-message {
    margin: 20px 0;
    text-align: center;
}

#contact-textarea-message {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 10px;
    border: solid 1px #80C0B8;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px
}

/*----------End of the login and sign up pages ----------*/








/*----------Recipe pages----------*/
.recipe-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

.recipe-section-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.recipe-title {
    
}

.recipe-title-header {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 2em;
    color: #36736B;
}

.recipe-title-description {
    margin: 10px 0 10px 0;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 100;
}

.recipe-ingredient-section,
.recipe-instruction-section {
    width: 100%;
    margin: 10px 0;
}

.ingredient-heading,
.instruction-heading {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-size: 1.6em;
    color: #4E7570;
    margin-bottom: 10px;
}

.ingredient-paragraph,
.instruction-paragraph {
    margin-bottom: 20px;
}

.recipe-instruction,
.recipe-ingredient {
    margin-bottom: 20px;
}

.recipe-like-button {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-like-button-heading {
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: "Kalam", cursive;
    color: #4E7570;
    text-align: center;
}

.like-submit-button {
    height: 40px;
    width: 50%;
    max-width: 150px;
    border-radius: 10px;
    border-width: 0;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FAFAFA;
    background-color: #80C0B8;
    text-shadow: 2px 2px 10px #000000;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.like-submit-button:hover {
    background-color: #4E7570;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    cursor: pointer;
}

/*----------End of the Recipe pages----------*/









/*Larger screen sizes*/

/*Horizontal mobile screens*/
@media(min-width: 500px) {
    /*----------Footer----------*/
    .footer-social {
        margin: 20px 0;
    }
    
    .footer-top-primary-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;
    }

    .footer-section {
        margin: 0;
    }

    .footer-list {
        padding: 0;
    }
    /*----------End of Footer in tablet views-----------*/ 
}

/*tablet screens*/
@media(min-width: 768px) {
    /*----------Navbar----------*/
    
    
    
    
    
    
    /*----------Post it note section on the home page----------*/
    
    .popular-recent-button-choices {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .popular-recent-button {
        width: 45%;
    }
    
    .post-it-notes-section-container {
        width: 90%;
    }
    
    .post-it-note {
        height: 180px;
        width: 180px;
    }

    /*----------End of the Post it note sectione----------*/
    
    
    
    
    
    
    /*Increasing the size of the margin between the contacts about page and the contents above*/
    .contact-about-navbar-links {
        margin-top: 50px;
    }
    
    /*Decrease the height of the scrolling image on the homepage*/
    .header-images {
        height: 70vh;
    }
    /*----------End of Navbar in tablet views-----------*/
}

/*Large tablet and small laptop screens*/
@media(min-width: 992px) {
    
    /*----------Navbar----------*/
    
	.navbar {
		height: 60px;
	}
	
	.navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
	
	/*Setting the margin between the left of the page and the logo*/
    
    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
        margin-top: 0;
    }
    
    /*Switching off the burger menu*/
    .navbar-dropdown {
        display: none;
    }

    .navbar-links div a {
	    font-size: 1em;
	    margin-left: 10px;
	}

    .dropdown-content {
        display: flex;
        position: absolute;
        background-color: #36736B;
        min-width: 100px;
        box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
        z-index: 1;
        padding: 0 10px 10px 10px;
    }

    .dropdown-content .dropdown-content-link {
        line-height: 1.2em;
        font-size: 0.9em;
        margin: 3px 0 3px 5px;
    }

    .navbar-link {
        height: 60px;
    }

    .navbar-links div a {
        margin: 0 10px;
    }

    .navbar-link .dropdown-content a {
        margin: 10px 0;
    }

    /*Bonus links in the Navbar*/
    .navbar-contents-seperate,
    .contact-about-navbar {
        display: none;
    }

    /*Stopping social links from displaying*/
    .navbar-link #social {
        display: none;
    }

    .navbar-link-buttons {
        margin: 0;
        justify-content: flex-end;
        width: 220px;
    }
    
    .sign-up-login-button {
        margin: 0 4px;
    }
    
    /*----------End of Navbar in laptop and desktop views-----------*/
    
    

    
    
    
    /*----------Social link bar display----------*/
    .icon-bar-desktop-views a {
        display: block;
    }
    /*End of social link bar display*/

}

/*Larger laptop and desktop screens*/
@media(min-width: 1224px) {
    /*Navbar*/
}