{% extends 'base.html' %}
{% block content %}

<!--Section containing the images for the slideshow at the top of the home page-->
<header class="header-images" id="header-slideshow">
    <!--Images introducing the site-->
    <div class="slideshow-image">
        <!--Introduction text to the site within the header image-->
        <div class="image-container">
            <div class="image-text">
                <h2 class="image-text-header">Welcome to theRecipeStore</h2>
                <p class="image-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat iusto autem sapiente quaerat delectus placeat officiis consectetur qui? Mollitia.</p>
            </div>
        </div>
    </div>
</header>

<!--Meal type link grid-->
<section class="meal-type">
    <div class="meal-type-intro">
        <!--Introduction to the section where the user can choose from menus for their specific meal type choice-->
        <h2 class="meal-type-intro-heading">Meal Types</h2>
        <p class="meal-type-intro-paragraph">Make your search more precise by searching by the meal types your looking for.</p>
    </div>
    
    <!--Grid section-->
    <div class="meal-type-container">
        
        <!--For loop iterating throung the json file to use the next section of code for the four different meal types-->
        {% for meal_type in meal_type_statements %}
        <!--Meal type section on homepage-->
        <div class="meal-type-image" id="{{ meal_type.id }}">
            <div class="meal-type-description-area">
                <h3 class="meal-type-heading">{{ meal_type.mealtype }}</h3>
                <p class="meal-type-paragraph">{{ meal_type.description }}</p>
                <a href="{{ meal_type.url }}">click here</a>
            </div>
        </div>
        {% endfor %}
        
    </div>
</section>

{% endblock %}