{% extends 'base.html' %}
{% block content %}

<!--Section containing the images for the slideshow at the top of the home page-->
<header class="header-images" id="header-slideshow">
    <!--Images introducing the site-->
    <div class="slideshow-image image-one">
        <!--Introduction text to the site within the header image-->
        <div class="image-container">
            <h2 class="image-text-header">Welcome to theRecipeStore</h2>
            <p class="image-text-paragraph"></p>
        </div>
    </div>
    <div class="slideshow-image image-two">
        <!--Introduction text to the site within the header image-->
        <div class="image-container">
            <h2 class="image-text-header">Welcome to theRecipeStore</h2>
            <p class="image-text-paragraph"></p>
        </div>
    </div>
    <div class="slideshow-image image-three">
        <!--Introduction text to the site within the header image-->
        <div class="image-container">
            <h2 class="image-text-header">Welcome to theRecipeStore</h2>
            <p class="image-text-paragraph"></p>
        </div>
    </div>
    <div class="slideshow-image image-four">
        <!--Introduction text to the site within the header image-->
        <div class="image-container">
            <h2 class="image-text-header">Welcome to theRecipeStore</h2>
            <p class="image-text-paragraph"></p>
        </div>
    </div>
</header>

<!--Meal type link grid-->
<section class="meal-type">
    <div class="meal-type-intro">
        <h2 class="meal-type-intro-heading">Meal Types</h2>
        <p class="meal-type-intro-paragraph">Make your search more precise by searching by the meal types your looking for.</p>
    </div>
    <div class="meal-type-container">
        <div class="meal-type-image" id="light-bites">
            <div class="meal-type-description-area">
                <h3 class="meal-type-heading">Light Bites</h3>
                <p class="meal-type-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#">click here</a>
            </div>
        </div>
        <div class="meal-type-image" id="snacks">
            <div class="meal-type-description-area">
                <h3 class="meal-type-heading">Snacks</h3>
                <p class="meal-type-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#">click here</a>
            </div>
        </div>
        <div class="meal-type-image" id="main-meals">
            <div class="meal-type-description-area">
                <h3 class="meal-type-heading">Main Meals</h3>
                <p class="meal-type-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#">click here</a>
            </div>
        </div>
        <div class="meal-type-image" id="desserts">
            <div class="meal-type-description-area">
                <h3 class="meal-type-heading">Desserts</h3>
                <p class="meal-type-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#">click here</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}