{% extends 'base.html' %}
{% block content %}

<section class="login-form-section">
    
    <!--Section that contains the form-->
    <div class="login-form-container">
        <h3 class="login-title">Log in</h3>
        
        <!--Form-->
        <form class="login-form">
            <!--Text box for the user to fill in their username-->
            <input id="login-textbox" type="text" name="username" placeholder="type username"/>
            <!--Submit button-->
            <input class="login-button" type="submit" value="Submit"/>
        </form>
        
        <!--If the user is already a member they are given the option to go to the sign up page-->
        <p class="login-form-message">Not yet a member? Visit our <a href="{{ url_for('signup') }}">Sign Up</a> page.</p>
    </div>
    
</section>

{% endblock %}