{% extends 'base.html' %}
{% block content %}

<!--Header section containing the image for each of the different types of each meal type-->
<header class="header-images" id="{{ mealtype.id }}">
    <!--Images introducing the meal type section-->
    <div class="background-image" id="{{ mealtype.id }}">
        <!--Introduction text to the meal type section-->
        <div class="image-container">
            <div class="image-text">
                <h2 class="image-text-header">{{ mealtype.mealtype }}</h2>
                <p class="image-text-paragraph">{{ mealtype.description }}</p>
            </div>
        </div>
    </div>
</header>

<!--Post it notes section to display popular and recents-->
<section class="post-it-notes-section">
    <div class="post-it-notes-intro">
        <!--Introduction to the section where the user can choose from menus for their specific meal type choice-->
        <h2 class="post-it-notes-intro-heading">{{ mealtype.mealtype }} Recipes</h2>
        <p class="post-it-notes-intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga animi tenetur reprehenderit ab sed eos voluptatem rerum dicta iusto iste!</p>
    </div>
    
    <!--Container for the post it notes-->
    <div class="post-it-notes-section-container">
        <ul class="post-it-notes">
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 1</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 2</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 3</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 4</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 5</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 6</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 7</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 8</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
            <li class="post-it-note">
                <a href="#">
                    <h2 class="post-it-note-title">Title 9</h2>
                    <p class="post-it-note-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam.</p>
                </a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}