{% extends 'base.html' %}
{% block content %}

<!--Header section containing the image for each of the different types of each meal type-->
<header class="header-images" id="{{ mealtype.id }}">
    <!--Images introducing the meal type section-->
    <div class="background-image" id="{{ mealtype.id }}">
        <!--Introduction text to the meal type section-->
        <div class="image-container">
            <div class="image-text">
                <h2 class="image-text-header">{{ mealtype.mealtype }}</h2>
                <p class="image-text-paragraph">{{ mealtype.description }}</p>
            </div>
        </div>
    </div>
</header>

<!--Post it notes section set out the same as that on the home page-->
<section class="post-it-notes-section">
    
    <!--Container for the post it notes-->
    <div class="post-it-notes-section-container">
        <ul class="post-it-notes">
            {% for recipe in recipes %}
            <li class="post-it-note">
                <a href="{{ url_for('recipe', id=recipe.id) }}">
                    <p>{{ recipe.author.username }} - {{ recipe.recipe_added.strftime('%d-%m-%Y') }}</p>
                    <h2 class="post-it-note-title">{{ recipe.recipe_name }}</h2>
                    <p class="post-it-note-paragraph">{{ recipe.recipe_description }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</section>

{% endblock %}