{% extends 'base.html' %}
{% block content %}

<!--Header section containing image of recipe with intro to section-->
<header class="header-images" id="create-recipe-image">
    <!--Images introducing the meal type section-->
    <div class="background-image">
        <!--Introduction image to the create recipe section-->
        <div class="image-container">
            <div class="image-text">
                <h2 class="image-text-header">{{ recipe.recipe_name }}</h2>
                <p class="image-text-paragraph">{{ recipe.recipe_description }}</p>
            </div>
        </div>
    </div>
</header>

<section class="recipe-section">
    
    <!--Container for each of the recipes-->
    <div class="recipe-section-container">
        
        <!--Update and delete buttons that appear if the current user is the user who created this recipe-->
        {% if recipe.author == current_user %}
            <div class="update-delete-buttons">
                <a class="recipe-update-delete-button" id="update-button" href="{{ url_for('update_recipe', id=recipe.id) }}">Update</a>
                <form class="recipe-update-delete-button" id="delete-button" action="{{ url_for('delete_recipe', id=recipe.id) }}" method="POST">
                    <input class="delete-button" type="submit" value="Delete">
                </form>
            </div>
        {% endif %}
        
        <!--These are the three boxes that tell the user the ease level, preparation time and cooking time-->
        <div class="recipe-overview-info">
            <div class="recipe-overview-box">
                <div class="recipe-overview-box-text">
                    <span class="recipe-overview-header">Level</span>
                    <span class="recipe-overview-description">{{ recipe.recipe_difficulty }}</span>
                </div>
            </div>
            <div class="recipe-overview-box">
                <div class="recipe-overview-box-text">
                    <span class="recipe-overview-header">Preparation Time</span>
                    <span class="recipe-overview-description">{{ recipe.recipe_prep_time }}</span>
                </div>
            </div>
            <div class="recipe-overview-box">
                <div class="recipe-overview-box-text">
                    <span class="recipe-overview-header">Cooking Time</span>
                    <span class="recipe-overview-description">{{ recipe.recipe_cook_time }}</span>
                </div>
            </div>
        </div>
        
        <div class="recipe-ingredients-instructions">
            <!--Ingredients list-->
            <div class="recipe-ingredient-section">
                
                <!--The following is an introduction to the ingredients and the same for each of the recipes-->
                <div class="recipe-ingredient-intro">
                    <h3 class="ingredient-heading">Ingredients</h3>
                    <p class="ingredient-paragraph">Before you begin your recipe, ensure you have the following ingredients:</p>
                </div>
                
                <!--The list from the database-->
                <ul class="recipe-ingredients-list">
                    {% for ingredient in recipe.ingredients %}
                    <li class="recipe-ingredient">{{ ingredient.ingredient_name }}</li>
                    {% endfor %}
                </ul>
                
            </div>
            
            <!--Instruction list-->
            <div class="recipe-instruction-section">
            
                <!--The following is an introduction to the ingredients and the same for each of the recipes-->
                <div class="recipe-instruction-intro">
                    <h3 class="instruction-heading">Instructions</h3>
                    <p class="instruction-paragraph">Follow the instructions below:</p>
                </div>
                
                <!--Instructions for the recipe-->
                <ol class="recipe-instruction-list">
                    {% for instruction in recipe.instructions %}
                    <li class="recipe-instruction">{{ instruction.instruction_name }}</li>
                    {% endfor %}
                </ol>
                
            </div>
        </div>
        
        
        <!--Like button form - if the user clicks this it will add one to the score of the recipe. The recipes that have the highest scores are the ones that will appear on the most popular section post it notes on the home page. This only appears if the user looking at this recipe is not the user who created it -->
        
    </div>
    
</section>
{% endblock %}