{% extends 'base.html' %}
{% block content %}

<section class="signup-form-section">
    
    <!--Section that contains the form-->
    <div class="signup-form-container">
        
        <!--Introduction to the form-->
        <h3 class="signup-title">Sign Up</h3>
        <p class="signup-form-message">Signup to be able to add recipes to the website, and have them viewed and shared by others.</p>
        
        <!--Form-->
        <form method="POST" class="signup-form">
            <!--Textboxes for the user to fill in their firstname, lastname and username-->
            <input id="signup-textbox-firstname" type="text" name="firstname" placeholder="First name" required/>
            <input id="signup-textbox-lastname" type="text" name="lastname" placeholder="Last name" required/>
            <input id="signup-textbox-username" type="text" name="username" placeholder="Type your chosen username" required/>
            <input id="email" type="email" name="email" placeholder="Type email">
            <input id="signup-textbox-password" type="password" name="password" placeholder="Password" required/>
            <!--Submit button-->
            <input class="signup-button" type="submit" value="Submit"/>
        </form>
        
        <!--If the user is already a member this link gives them the option to go the login page-->
        <p class="signup-form-message">Already a member? Go to the <a href="{{ url_for('login') }}">log in</a> page.</p>
    </div>
</section>

{% endblock %}